<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <form action="" id="chat">
        <input type="text" name="username" placeholder="Digite seu usuário">
        <div class="messages"></div>
        <input type="text" name="message" placeholder="Digite sua mensagem">
        <button>Enviar</button>
    </form>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js" integrity="sha512-xbQU0+iHqhVt7VIXi6vBJKPh3IQBF5B84sSHdjKiSccyX/1ZI7Vnkt2/8y8uruj63/DVmCxfUNohPNruthTEQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    const socket = io('http://localhost:3000');

    function renderMessage(message){
        $('.messages').append('<div class="message"><strong>'+ message.author +' </strong><br>'+ message.message +'</div>')
    }

    socket.on('previousMessages', messages => {
        for(message of messages){
            renderMessage(message)
        }
    })
    socket.on('receivedMessage', message => {
        renderMessage(message);
    })

    $('#chat').submit(event => {
        event.preventDefault();

        const author = $('input[name=username]').val();
        const message = $('input[name=message]').val();

        if(author.length > 0 && message.length > 0){
            const messageObject = {
                author: author,
                message: message
            };

            renderMessage(messageObject);
            socket.emit('sendMessage', messageObject);
        }
    })
</script>
</html>